<div class="row ng-scope">
{% for item in cart_items %}

{% if item.id == item_id %}	
<div class="col-xs-4 ng-scope">
<div class="thumbnail">
<img ng-src="{{ url_for('static', filename=item.img)}}" src="{{ url_for('static', filename=item.img)}}">

                <h4 class="ng-binding">Motorola XOOM™ with Wi-Fi</h4>
                <p class="ng-binding">The Next, Next Generation

Experience the future with Motorola XOOM with Wi-Fi, the world's first tablet powered by Android 3.0 (Honeycomb).</p>
                <h3 class="price ng-binding">${{item.price}}</h3>
<ngcart-addtocart id="{{item.u_id}}" name="{{item.name}}" price="{{item.price}}" quantity="1" quantity-max="5" data="item"></ngcart-addtocart>
</div>


</div>
{% endif %}
{% endfor %}
</div>